---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: 朱雀桥边野草花，乌衣巷口夕阳斜。
    image: "https://placekitten.com/g/60/60?a=.png"
    name: 唐·刘禹锡《乌衣巷》
  - message: I had loved my Nanjing home and the little treasures it had contained, the lovely garden I had made, my life with friends and students.
    image: "https://www.fillmurray.com/60/60?a=.png"
    name: Pearl S. Buck
  - message: 我是南京人!我是真正的南京大萝卜!
    image: "https://placebear.com/60/60?a=.png"
    name: 余光中
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>American Nanjing Society is a non-profit organization focusing on Nanjingology and all things about Nanjing culture.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
